<!-- Crousel part -->

<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="static/core/images/carousel/suzuki_gixxersf.png" class="d-block w-100" alt="...">
        <div class="container">
          <div class="carousel-caption" >
            <h1>Symbol OF Loyalty</h1>
            <p> Our first and foremost commitment is to revolutionise our manufacturing processes. We are investing in cutting-edge technologies and adopting eco-friendly practices to minimise our carbon footprint. From energy-efficient production lines to waste reduction initiatives, we aim to set a benchmark for sustainable manufacturing in our sector.</p>
            <p><a class="btn btn-lg " href="{% url "herocategories" %}" role="button" style = "background-color: rgb(245, 229, 10);" >Explore</a></p>
          </div>
        </div>
      </div>
      
      <div class="carousel-item">
        <img src="static/core/images/carousel/suzuki_gixxersf.png" class="d-block w-100" alt="...">
        <div class="container" >
          <div class="carousel-caption" >
            <h1 style = "color: rgb(245, 229, 10);" >Symbol Of Mystery</h1>
            <p>To take care of the health of all our employees, we maintain all international parameters and standards for drinking water, treated water, ambient air shop floor, office and the outside. We keep updating all these standards of health and welfare of employees through a team of well qualified personnel in the laboratory.</p>
            <p><a class="btn btn-lg btn-primary" href="{% url "suzukicategories" %}" role="button" style = "background-color: rgb(245, 229, 10);">Explore</a></p>
          </div>
        </div>
      </div>
      
 </div>

  <!-- Carousel end-->
