<div class="container marketing mt-5 ">
    <!-- START THE FEATURETTES -->
    <hr class="featurette-divider">

    <!-- Hero featurette-->
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Sustainability Goals </h2>
        <p class="lead">Our first and foremost commitment is to revolutionise our manufacturing processes. We are investing in cutting-edge technologies and adopting eco-friendly practices to minimise our carbon footprint. From energy-efficient production lines to waste reduction initiatives, we aim to set a benchmark for sustainable manufacturing in our sector.</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="static/core/images/hero/hero.jpg" data-holder-rendered="true">
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- Suzuki featurette-->
    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Environment</h2>
        <p class="lead">To take care of the health of all our employees, we maintain all international parameters and standards for drinking water, treated water, ambient air shop floor, office and the outside. We keep updating all these standards of health and welfare of employees through a team of well qualified personnel in the laboratory.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="static/core/images/suzuki/suzuki.jpg" data-holder-rendered="true">
      </div>
    </div>

    <hr class="featurette-divider">


  </div>