<div class="container mt-5 x">    <!-- mt-4 stand for top margin from o-5 value -->
    <h1>Bike Categories </h1>
</div>
    <div class="container mt-4">
        <div class="card-deck">
          <!-- Hero card start-->
          <a href="{% url "herocategories" %}" class = "card-img-href" style="text-decoration: none; ">
            <div class="card ml-5 mt-5 mb-5" style="width: 18rem;">
                <img class="card-img-top" src="static/core/images/hero/hero-logo.jpg" alt="Card image cap">
                <div class="card-body" style= "">
                  <p class="card-text">Explore the world of Hero MotoCorp, India's favorite two-wheeler manufacturer. Explore our range of stylish and powerful two-wheelers.</p>
                </div>
              </div>
            </a>
          <!-- Hero card End-->
      
          <!-- Suzuki card start-->

          <a href="{% url "suzukicategories" %}" class = "card-img-href" style="text-decoration: none; ">
              <div class="card ml-5 mt-5" style="width: 18rem;">
                <img class="card-img-top" src="static/core/images/suzuki/suzuki-logo.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text"> SUZUKI MOTORCYCLE INDIA PRIVATE LIMITED is a subsidiary of Suzuki Motor Corporation, Japan where in we are having the same manufacturing philosophy of VALUE PACKED PRODUCTS right from the inception. SMIPL will be manufacturing two wheelers best suited for the valuable Indian customers covering all segments.</p>
                </div>
              </div>
          </a>
          <!-- Suzuki card End-->
            
          
          
        </div>
    </div>

